<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/output.css">

</head>
<body class="h-screen w-screen bg-gradient-to-r from-slate-900 to-slate-800 flex justify-center items-center">
      <main class="h-[50vh] w-[30vw] bg-white/10 backdrop-blur-lg border border-white/20 rounded-xl shadow-2xl p-8 flex flex-col items-center">
          <h1 class="text-blue-600 text-5xl font-bold m-5 tracking-tighter">Login</h1> 
          <form action="/loginData" method="post" class="flex flex-col">
            
             <input type="email" placeholder="email" name="email" class="width-full" required>
             <input type="password" placeholder="password" name="password" class="width-full" required>
             <input type="submit" value="Login" class="bg-blue-600 hover:bg-blue-700 text-gray-300 font-bold">
            
          </form>
           <p class="text-gray-300 mt-5">New here? <a href="/signup" class="text-bg-blue-600 hover:cursor-pointer">signup</a></p>
      </main>  
</body>
</html>