<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="/css/output.css">

</head>
<body class="h-screen w-screen bg-gradient-to-r from-slate-900 to-slate-700 flex justify-center items-center">
      <main class="h-[70vh] w-[50vw] bg-white/10 backdrop-blur-lg border border-white/20 rounded-xl shadow-2xl p-8 flex flex-col items-center">
          <h1 class="text-green-600 text-5xl font-bold m-5 tracking-tighter">Signup</h1> 
          <p class="text-gray-200 m-3 text-lg">Signup now and get full access to out app</p>  
          <form action="/signup" method="post" class="flex flex-col">
             <div class="flex gap-3">
                <input type="text" name="firstName" placeholder="First Name" required>
                <input type="text" name="lastName" placeholder="Last Name" required>
             </div>
             <input type="email" placeholder="email" name="email" required>
             <input type="password" placeholder="password" name="password" required>
             <input type="password" placeholder=" Confirm password" name="confirmPassword" required>
             <input type="submit" value="Submit" class="bg-green-600 hover:bg-green-700 text-gray-300 font-bold">
            
          </form>
           <p class="text-gray-300">Already have an account? <a href="/login" class="text-bg-green-600 hover:cursor-pointer">login</a></p>
      </main>  
</body>
</html>